# Credenciais do N8N.
N8N_URL=
N8N_USER=
N8N_PASSWORD=

# Caminhos para o google e acesso da conta.
CHROME="C:/Program Files/Google/Chrome/Application/chrome.exe"
PROFILE="C:/Automacao/pasta-do-projeto/chrome-debug"

# Nomes reais que aparecem no fluxo. Não são informações sensíveis, mas são exclusivas desse fluxo.
LOGIN_NAME=
DOMINIO="Acessar site.com (não seguro)"
GMAIL_CREDENTIAL_N8N=

# Credenciais do bot do Telegram para notificação
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=